<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
  <meta name="viewport" content="width=device-width, initial-scale=1"> 
  <title>Design | Development | UX</title>
  <meta name="description" content="Sam Morgan plans, crafts and builds incredibly intuitive and minimal web systems." />
  <meta name="keywords" content="" />
  <meta name="author" content="Sam Morgan" />
  <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
  <link rel="icon" type="image/png" href="/favicon-196x196.png" sizes="196x196">
  <link rel="icon" type="image/png" href="/favicon-160x160.png" sizes="160x160">
  <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
  <meta name="msapplication-TileColor" content="#ffc40d">
  <meta name="msapplication-TileImage" content="/mstile-144x144.png">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<header class="codrops-header">
			<h1>Portfolio <span>A collection of my works. More <a href="http://github.com/sjmog" target="_blank">here</a>.</span></h1>
		</header>
		<section class="grid3d vertical" id="grid3d">
			<div class="grid-wrap">
				<div class="grid portfolio-grid">
					<figure class="grid-item">
						<div class="box">
							<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
								<line class="top" x1="0" y1="0" x2="900" y2="0"/>
								<line class="left" x1="0" y1="460" x2="0" y2="-920"/>
								<line class="bottom" x1="300" y1="460" x2="-600" y2="460"/>
								<line class="right" x1="300" y1="0" x2="300" y2="1380"/>
							</svg>
							<h3>L</h3>
							<span>Personalised Ecommerce</span>
							<span>UX, Design, Development</span>
						</div>
					</figure>
					<figure class="grid-item">
						<div class="box">
							<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
								<line class="top" x1="0" y1="0" x2="900" y2="0"/>
								<line class="left" x1="0" y1="460" x2="0" y2="-920"/>
								<line class="bottom" x1="300" y1="460" x2="-600" y2="460"/>
								<line class="right" x1="300" y1="0" x2="300" y2="1380"/>
							</svg>
							<h3>R</h3>
							<span>Livestock Event System</span>
							<span>Development</span>
						</div>
					</figure>
					<figure class="grid-item">
						<div class="box">
							<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
								<line class="top" x1="0" y1="0" x2="900" y2="0"/>
								<line class="left" x1="0" y1="460" x2="0" y2="-920"/>
								<line class="bottom" x1="300" y1="460" x2="-600" y2="460"/>
								<line class="right" x1="300" y1="0" x2="300" y2="1380"/>
							</svg>
							<h3>B</h3>
							<span>Jewellery Retail System</span>
							<span>Development</span>
						</div>
					</figure>
					<figure class="grid-item">
						<div class="box">
							<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
								<line class="top" x1="0" y1="0" x2="900" y2="0"/>
								<line class="left" x1="0" y1="460" x2="0" y2="-920"/>
								<line class="bottom" x1="300" y1="460" x2="-600" y2="460"/>
								<line class="right" x1="300" y1="0" x2="300" y2="1380"/>
							</svg>
							<h3>E</h3>
							<span>Crowdfunding Website</span>
							<span>UX, Design, Development</span>
						</div>
					</figure>
					<figure class="grid-item">
						<div class="box">
							<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
								<line class="top" x1="0" y1="0" x2="900" y2="0"/>
								<line class="left" x1="0" y1="460" x2="0" y2="-920"/>
								<line class="bottom" x1="300" y1="460" x2="-600" y2="460"/>
								<line class="right" x1="300" y1="0" x2="300" y2="1380"/>
							</svg>
							<h3>El.</h3>
							<span>E-commerce website</span>
							<span>UX, Design</span>
						</div>
					</figure>
					<figure class="grid-item">
						<div class="box coming-soon">
							<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
								<line class="top" x1="0" y1="0" x2="900" y2="0"/>
								<line class="left" x1="0" y1="460" x2="0" y2="-920"/>
								<line class="bottom" x1="300" y1="460" x2="-600" y2="460"/>
								<line class="right" x1="300" y1="0" x2="300" y2="1380"/>
							</svg>
							<h3>G</h3>
							<span>Location-aware webapp</span>
							<span>UX, Design, Development</span>
						</div>
					</figure>
					<figure class="grid-item">
						<div class="box coming-soon">
							<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
								<line class="top" x1="0" y1="0" x2="900" y2="0"/>
								<line class="left" x1="0" y1="460" x2="0" y2="-920"/>
								<line class="bottom" x1="300" y1="460" x2="-600" y2="460"/>
								<line class="right" x1="300" y1="0" x2="300" y2="1380"/>
							</svg>
							<h3>O</h3>
							<span>The world's best news reader</span>
							<span>UX, Design, Development</span>
						</div>
					</figure>
				</div>
			</div><!-- /grid-wrap -->
			<div class="content">
				<div>
					<div class="img" id="rabdf_img" style="background-image: url('/img/panos/lmb.jpg');"></div>
					<h2 class="text">Love Me Beauty</h2>
					<p class="text">Love Me Beauty does beauty subscription boxes like no other: custom, personalised recommendations and a 'build-your-own-box' ethos sites them right at the top of their market.</p>
					<div id="grid-gallery" class="grid-gallery">
						<section class="grid-wrap">
							<ul class="grid">
								<li class="grid-sizer"></li><!-- for Masonry column width -->
								<li>
									<figure>
										<img src="img/thumb/rabdf1.png" alt="img01"/>
										<figcaption><h3>Ultra-premium</h3></figcaption>
									</figure>
								</li>
							</ul>
						</section><!-- // grid-wrap -->
						<section class="slideshow">
							<ul>
								<li>
									<figure>
										<figcaption>
											<h3>Ultra-premium</h3>
										</figcaption>
										<img src="img/large/rabdf1.png" alt="img01"/>
									</figure>
								</li>
							</ul>
							<nav>
								<span class="icon nav-prev"></span>
								<span class="icon nav-next"></span>
								<span class="icon nav-close"></span>
							</nav>
							<div class="info-keys icon">Navigate with arrow keys</div>
						</section><!-- // slideshow -->
					</div><!-- // grid-gallery -->
					<h2 class="text">Bootstrapped from the ground up</h3>
					<p class="lede text">Love Me Beauty approached me with a business concept. Through listening and asking the right questions, we drew up a collaborative scope for everything we'd need to launch.</p>
					 <p class="text">Every project has to begin at the end: with your users. In LMB's case, I used existing analytics and some custom extras (like the fantastic <a href="http://www.gosquared.com" target="_blank">GoSquared</a>) to get a really great idea of who the users were, why they visited, and what they wanted. From this, I could construct thoughtful and detailed User Personas – representative of key demographics who were currently using the site.</p>
					<p class="text">Using these personas, I could construct user flows for different demographics (younger, older? Disposable incomes?) and states (signed-up? Browsing? Unqualified?), and a Style Guide based off research into a wide range of content already popular with LMB's target markets. That meant magazines, like Vogue and Grazia, and 'membership'-minded clubs, like Shoreditch House and fashion insider sites.</p>
					<p class="text">To be continued...</p>
				</div>
				<div>
					<div class="img" id="rabdf_img" style="background-image: url('/img/panos/rabdf.jpg');"></div>
					<h2 class="text">RABDF Livestock Event</h2>
					<p class="text">The Royal Association of British Dairy Farmers is one of the UK's largest agricultural advocacy groups. They needed to move into the 21st century, and replacing their old, paper-based systems was the first step.</p>
					<div id="grid-gallery" class="grid-gallery">
						<section class="grid-wrap">
							<ul class="grid">
								<li class="grid-sizer"></li><!-- for Masonry column width -->
								<li>
									<figure>
										<img src="img/thumb/rabdf1.png" alt="img01"/>
										<figcaption><h3>Minimal, simple</h3></figcaption>
									</figure>
								</li>
								<li>
									<figure>
										<img src="img/thumb/rabdf2.png" alt="img02"/>
										<figcaption><h3>Fluid tile grid</h3></figcaption>
									</figure>
								</li>
								<li>
									<figure>
										<img src="img/thumb/rabdf3.png" alt="img03"/>
										<figcaption><h3>Off-canvas menu system</h3></figcaption>
									</figure>
								</li>
								<li>
									<figure>
										<img src="img/thumb/rabdf4.png" alt="img04"/>
										<figcaption><h3>Content clarity through planned taxonomy</h3></figcaption>
									</figure>
								</li>
								<li>
									<figure>
										<img src="img/thumb/rabdf5.png" alt="img05"/>
										<figcaption><h3>Responsive for tablets</h3></figcaption>
									</figure>
								</li>
								<li>
									<figure>
										<img src="img/thumb/rabdf6.png" alt="img06"/>
										<figcaption><h3>Sublime on mobiles</h3></figcaption>
									</figure>
								</li>
								<li>
									<figure>
										<img src="img/thumb/rabdf7.png" alt="img01"/>
										<figcaption><h3>Extremely intuitive</h3></figcaption>
									</figure>
								</li>
								<li>
									<figure>
										<img src="img/thumb/rabdf8.png" alt="img01"/>
										<figcaption><h3>Mobile-first</h3></figcaption>
									</figure>
								</li>
								<li>
									<figure>
										<img src="img/thumb/rabdf9.png" alt="img01"/>
										<figcaption><h3>Touch-aware</h3></figcaption>
									</figure>
								</li>
							</ul>
						</section><!-- // grid-wrap -->
						<section class="slideshow">
							<ul>
								<li>
									<figure>
										<figcaption>
											<h3>Minimal, simple</h3>
										</figcaption>
										<img src="img/large/rabdf1.png" alt="img01"/>
									</figure>
								</li>
								<li>
									<figure>
										<figcaption>
											<h3>Fluid tile grid</h3>
										</figcaption>
										<img src="img/large/rabdf2.png" alt="img02"/>
									</figure>
								</li>
								<li>
									<figure>
										<figcaption>
											<h3>Off-canvas menu system</h3>
										</figcaption>
										<img src="img/large/rabdf3.png" alt="img03"/>
									</figure>
								</li>
								<li>
									<figure>
										<figcaption>
											<h3>Content clarity through planned taxonomy</h3>
										</figcaption>
										<img src="img/large/rabdf4.png" alt="img04"/>
									</figure>
								</li>
								<li>
									<figure>
										<figcaption>
											<h3>Responsive for tablets</h3>
										<img src="img/large/rabdf5.png" alt="img05"/>
									</figure>
								</li>
								<li>
									<figure>
										<figcaption>
											<h3>Sublime on mobiles</h3>
										</figcaption>
										<img src="img/large/rabdf6.png" alt="img06"/>
									</figure>
								</li>
								<li>
									<figure>
										<figcaption>
											<h3>Extremely intuitive</h3>
										</figcaption>
										<img src="img/large/rabdf7.png" alt="img06"/>
									</figure>
								</li>
								<li>
									<figure>
										<figcaption>
											<h3>Mobile-first</h3>
										</figcaption>
										<img src="img/large/rabdf8.png" alt="img06"/>
									</figure>
								</li>
								<li>
									<figure>
										<figcaption>
											<h3>Touch-aware</h3>
										</figcaption>
										<img src="img/large/rabdf9.png" alt="img06"/>
									</figure>
								</li>
							</ul>
							<nav>
								<span class="icon nav-prev"></span>
								<span class="icon nav-next"></span>
								<span class="icon nav-close"></span>
							</nav>
							<div class="info-keys icon">Navigate with arrow keys</div>
						</section><!-- // slideshow -->
					</div><!-- // grid-gallery -->
					<h2 class="text">Actually responsive</h3>
					<p class="lede text">Is 'responsive design' just 'designing for all screen types'? I believe 'responsive' means much more. It means designing and building websites that respond to the user: who they are, what they need to achieve.</p>
					 <p class="text">I start every project by getting to know your users. Here, I drew up detailed User Case Studies, drawn from various sources: discussion with the client, who knew their customer better than anybody else; detailed analysis of existing (or competitor) analytics, and structured interviews with key stakeholders.</p>
					<p class="text">Once I've mapped who your users are, what they need, and what you need them to do, we can design something bespoke for them. That means a) sites that work for your intended audience, b) market-leading conversion rates, and c) unparallelled user experience.</p>
					<p class="text">Here, we separated the key user groups – Exhibitors and Visitors – from subsidiary user groups (such as Contractors). Each of the two main groups can filter out irrelevant information, which cuts scrolling (especially on mobile devices) and lowers the tendency for on-page information to compete for a user's limited attention. Information relevant to each user group is colour-coordinated: again, providing users with clear, instruction-rich routes to achieving their aims as quickly as possible.</p>

					<h2 class="text">Cutting-edge technology that gracefully degrades</h2>
					<p class="lede text">Wouldn't it be great if you could leave a project safe in the knowledge it'll work from here to the end of time? A lot of clients ask me about 'future-proofing'. No-one wants a site that looks and feels outdated within a year of being delivered. On the other hand, no-one wants a site that only programmers can view on their specced-up, Chrome-running supercomputers. I select technologies which meet all these needs.</p>
					<p class="text">Here, I've built a high-performance <a href="rubyonrails.org">Ruby on Rails</a> <abbr title="Application Programming Interface">API</abbr> that serves content from an ultra-secure <a href="http://www.postgresql.org/">PostgreSQL</a> database. This means the client can use their content – bookings, news articles, exhibitor lists, and so much more – in a whole range of ways, all from a single place. The website is built using the <a href="emberjs.org">EmberJS</a> JavaScript framework, which means a) no page loads (critical for rural connections), b) high cross-browser consistency, and c) excellent support for 'legacy' browsers such as <abbr title="Internet Explorer">IE</abbr>7. That last point is especially important for the target user, who often uses an older browser.</p>
					<p class="text">Content is administrated from a custom <abbr title="Content Management System">CMS</abbr>, and instantly available through the API. The CMS includes deep analytics integration through <a href="http://www.mixpanel.com">MixPanel</a>, and a custom dashboard that updates live as transactions happen elsewhere. It's a command centre for the whole Livestock Event: anyone can get an overview of the entire business at a glance. There's an intelligent notification system that lets RABDF employees know when action needs to happen, a tile-builder for adding and editing content on the site, and deep search and model management features that have enabled RABDF to replace their existing <abbr title="Customer Relationship Management">CRM</abbr> system.</p>
					<p class="text">What about maintainability? Most web code is pretty easy to understand, if you have the right background. If you don't, what then? There's nothing worse than being delivered an intractable mess of vermicelli code. Aside from commenting everything I write, I include a Developer Guide to extending and maintaining whatever I deliver. That way, you're free to go wherever suits you best.</p>

					<h2 class="text">Surprise and Delight</h2>
					<p class="text">Great <abbr title="User Experience">UX</abbr> is about more than usability. Making a site that structures content in a clear, accessible and minimal way is only half the story: great sites are <i>pleasurable</i> – <a href="http://www.slideshare.net/stephenpa/creating-pleasurable-interfaces-getting-from-tasks-to-experiences">even <i>meaningful</i></a> – to those who use them.</p>
					<p class="text">Sometimes pleasure and usability coincide. For example, I've used <abbr title="Cascading Style Sheets">CSS</abbr> animations to convey relationships between information. Here's an example: some 'tiles' can be flipped to reveal additional content. No page loads – no drop-off – but no skimping on info, either.</p>
				</div>
				<div>
					<div class="img" id="biagio_img" style="background-image: url('/img/panos/biagio.jpg');"></div>
					<h2 class="text">Biagio the Jeweller</h2>
					<p class="text">Biagio hand-sources every item he sells, and needed a website to match. He needed full eCommerce integration with his stock-checking and jewellery-making services, without the customer ever realising that he was outsourcing these to the experts. Every button, every interaction, needed to be on-brand.</p>
					<div id="grid-gallery-2" class="grid-gallery">
						<section class="grid-wrap">
							<ul class="grid">
								<li class="grid-sizer"></li><!-- for Masonry column width -->
								<li>
									<figure>
										<img src="img/large/biagio1.png" alt="img01"/>
										<figcaption><h3>Minimal, simple</h3></figcaption>
									</figure>
								</li>
								<li>
									<figure>
										<img src="img/large/biagio2.png" alt="img02"/>
										<figcaption><h3>Fluid tile grid</h3></figcaption>
									</figure>
								</li>
								<li>
									<figure>
										<img src="img/large/biagio3.png" alt="img03"/>
										<figcaption><h3>Off-canvas menu system</h3></figcaption>
									</figure>
								</li>
							</ul>
						</section><!-- // grid-wrap -->
						<section class="slideshow">
							<ul>
								<li>
									<figure>
										<figcaption>
											<h3>Fully responsive</h3>
										</figcaption>
										<img src="img/large/biagio1.png" alt="img01"/>
									</figure>
								</li>
								<li>
									<figure>
										<figcaption>
											<h3>Clear, minimal layout</h3>
										</figcaption>
										<img src="img/large/biagio2.png" alt="img02"/>
									</figure>
								</li>
								<li>
									<figure>
										<figcaption>
											<h3>Mobile-optimised navigation</h3>
										</figcaption>
										<img src="img/large/biagio3.png" alt="img03"/>
									</figure>
								</li>
							</ul>
							<nav>
								<span class="icon nav-prev"></span>
								<span class="icon nav-next"></span>
								<span class="icon nav-close"></span>
							</nav>
							<div class="info-keys icon">Navigate with arrow keys</div>
						</section><!-- // slideshow -->
					</div><!-- // grid-gallery -->
					<h2 class="text">Everything social</h2>
					<p class="lede text">Facebook pages, Twitter analytics, Pinterest dashboards, Newsletter segmentation tools â everything Biagio needed to take his business into the world of social media, and watch it grow.</p>
					<p class="text">Social media presents a huge opportunity for retailers like Biagio, but needs fine-tuning to get right. Omnipresent social sharing options have kept his Facebook Page engagement well above his competition. Thanks to some responsive email templates, his newsletter â which has always reached thousands â now bears nearly eight times the industry average conversion rate. The result? More customers in store, more traffic online, and greater attendance at the regular special events Biagio holds. Which, of course, you can sign up for online.</p>

					<h2 class="text">Live <abbr title="Point of Sale">POS</abbr> integration</h2>
					<p class="lede text">In-store purchases are handled via the industry-standard Bransom retail system. The Bransom system keeps product prices, stock, and other properties in sync across stores, regions, and commerces.</p>
					<p class="text">In the fast-moving world of retail jewellery, Biagio needs to keep tabs on product stock at any given moment. If a diamond ring is sold in store, that has to be reflected instantaneously online. Tight integration was critical to Biagio's success as a retailer, so I partnered with Bransom to deliver a world-first Bransom-Lemonstand module.</p>

					<h2 class="text">Integrate everything.</h2>
					<p class="lede text">Biagio retails hand-selected fine jewellery from all over the world, but he doesn't stop there.</p>
					<p class="text">He offers a UK-first service: the ability to build your own jewellery. Using the Goldmark and Gemsone product catalogues â each containing billions of possible product combinations â customers at Biagio the Jeweller can build precisely the piece they need. I was tasked with building a system that allowed customers to do exactly the same thing online, without losing that 'in-store' brand feeling. Oh, and the prices across the Goldmark and Gemsone catalogues vary minute-to-minute, as they're linked to real-time mineral and metal cost indices.</p>
					<p class="text">Some creative thinking was needed: first up, I couldn't store this info in Biagio's database, but Lemonstand needed it to be. In collaboration with the Lemonstand CTO, we developed an entirely <abbr title="Asynchronous Javascript and XML">AJAX</abbr>-based technique for fetching live pricing data as the user requested it, and binding that data to the product upon submission to the cart. The result? That in-store jewellery-building experience, without having to leave the office.</p>
				</div>
				<div>
					<div class="img" id="elsa_img" style="background-image: url('/img/panos/elsa.jpg');"></div>
					<h2 class="text">Elsa Hammond</h2>
					<p class="text">Elsa is going to achieve something incredible: she's solo-kayaking across the entire Pacific Ocean – 2,400 miles – non-stop, raising money for the Oceans Foundation. She needed a digital presence to keep people in-touch with her progress as she battles the high seas; one that guides donators straight to her project, and one that fully reflected Elsa's epic journey and fiercely elegant personality.</p>
					<div id="grid-gallery-3" class="grid-gallery">
						<section class="grid-wrap">
							<ul class="grid">
								<li class="grid-sizer"></li><!-- for Masonry column width -->
								<li>
									<figure>
										<img src="img/large/elsa1.jpg" alt="img01"/>
										<figcaption><h3>Hard-hitting social</h3></figcaption>
									</figure>
								</li>
								<li>
									<figure>
										<img src="img/large/elsa2.jpg" alt="img02"/>
										<figcaption><h3>A minimal layout for maximum impact</h3></figcaption>
									</figure>
								</li>
								<li>
									<figure>
										<img src="img/large/elsa3.jpg" alt="img03"/>
										<figcaption><h3>The Challenge</h3></figcaption>
									</figure>
								</li>
								<li>
									<figure>
										<img src="img/large/elsa4.jpg" alt="img01"/>
										<figcaption><h3>Encouraging personal donations</h3></figcaption>
									</figure>
								</li>
								<li>
									<figure>
										<img src="img/large/elsa5.jpg" alt="img01"/>
										<figcaption><h3>Upselling to corporate organisations</h3></figcaption>
									</figure>
								</li>
								<li>
									<figure>
										<img src="img/large/elsa6.jpg" alt="img01"/>
										<figcaption><h3>Socially-aware blog</h3></figcaption>
									</figure>
								</li>
							</ul>
						</section><!-- // grid-wrap -->
						<section class="slideshow">
							<ul>
								<li>
									<figure>
										<figcaption>
											<h3>Hard-hitting social</h3>
										</figcaption>
										<img src="img/large/elsa1.jpg" alt="img01"/>
									</figure>
								</li>
								<li>
									<figure>
										<figcaption>
											<h3>A minimal layout for maximum impact</h3>
										</figcaption>
										<img src="img/large/elsa2.jpg" alt="img02"/>
									</figure>
								</li>
								<li>
									<figure>
										<figcaption>
											<h3>The Challenge</h3>
										</figcaption>
										<img src="img/large/elsa3.jpg" alt="img03"/>
									</figure>
								</li>
								<li>
									<figure>
										<figcaption>
											<h3>Encouraging personal donations</h3>
										</figcaption>
										<img src="img/large/elsa4.jpg" alt="img04"/>
									</figure>
								</li>
								<li>
									<figure>
										<figcaption>
											<h3>Upselling to corporate organisations</h3>
										</figcaption>
										<img src="img/large/elsa5.jpg" alt="img05"/>
									</figure>
									<figure>
										<figcaption>
											<h3>Socially-aware blog</h3>
										</figcaption>
										<img src="img/large/elsa6.jpg" alt="img06"/>
									</figure>
								</li>
							</ul>
							<nav>
								<span class="icon nav-prev"></span>
								<span class="icon nav-next"></span>
								<span class="icon nav-close"></span>
							</nav>
							<div class="info-keys icon">Navigate with arrow keys</div>
						</section><!-- // slideshow -->
					</div><!-- // grid-gallery -->
					<h2 class="text">Maximum impact</h2>
					<p class="lede text">It's too easy to include too much. Elsa's site was designed to maximise her content, her personality, and her progress. The navigation was designed from a rigorous Information Architecture, typography designed for readability and consistency, and colour used for impact.</p>
					<p class="text">We're bombarded by information in our everyday lives. Somehow, we can make our way through it – but it's effortful, difficult. That's not what the web is for. Elsa's site features bespoke headline copy to draw in the user, site-wide components – like link-lines between pictures and text, and omnipresent social functions – to ensure a smooth, consistent experience. Animations were retained only when necessary. As with all good projects, I took a lot more out than I decided to keep in. The result? An easy-to-parse, perfectly-comprehendable way to access everything Elsa.</p>

					<h2 class="text">Social to the core</h2>
					<p class="lede text">Social media was central to Elsa's campaign, and I built it to be front-of-place.</p>
					<p class="text">The homepage features a beautiful cascading tweet wall that picks up on anything Elsa tweets, or is tweeted with the hastag #elsa2.4k. Next door, there's a gorgeous post wall that picks up on anything featured on Elsa's Facebook page. And, if you're happy to authenticate with the site, you can tweet and post right from the wall itself. Keeping you up-to-date with Elsa's goings-on without ever having to switch tabs.</p>

					<h2 class="text">Encouraging donations</h2>
					<p class="lede text">Elsa's campaign runs concurrently with Indiegogo, a crowdfunding site for independent projects. I wanted to integrate live campaign updates, Indiegogo donation options, <i>and</i> corporate sponsorship facilities on every page.</p>
					<p class="text">The omnipresent Indiegogo bar tracks Elsa's progress towards her targets. The omnipresent 'Donate' button hovers enticingly above her content (as well as elsewhere throughout the site). And, if clicked, supporters can donate via various payment providers – or get in touch with Elsa directly, if they're keener to donate through an organisation as a formal sponsor.</p>
				</div>
				<div>
					<div class="img" id="elise_img" style="background-image: url('/img/panos/elise.jpg');"></div>
					<h2 class="text">Elise</h2>
					<p class="text">Elise are a boutique store offering hand-sourced furniture, art, and ephemera from all over the world. Elise approached me to design a site that reflected their sleek, minimal aesthetic, while retaining their trademark warmth.</p>
					<div id="grid-gallery-4" class="grid-gallery">
						<section class="grid-wrap">
							<ul class="grid">
								<li class="grid-sizer"></li><!-- for Masonry column width -->
								<li>
									<figure>
										<img src="img/large/elise1.png" alt="img01"/>
										<figcaption><h3>Letting the products speak for themselves</h3></figcaption>
									</figure>
								</li>
								<li>
									<figure>
										<img src="img/large/elise2.png" alt="img02"/>
										<figcaption><h3>An Art Gallery of product proportions</h3></figcaption>
									</figure>
								</li>
								<li>
									<figure>
										<img src="img/large/elise3.png" alt="img03"/>
										<figcaption><h3>Subtle hover effects</h3></figcaption>
									</figure>
								</li>
								<li>
									<figure>
										<img src="img/large/elise4.png" alt="img01"/>
										<figcaption><h3>Pieces in prime position</h3></figcaption>
									</figure>
								</li>
								<li>
									<figure>
										<img src="img/large/elise5.png" alt="img01"/>
										<figcaption><h3>A human feel, for humans</h3></figcaption>
									</figure>
								</li>
								<li>
									<figure>
										<img src="img/large/elise6.png" alt="img01"/>
										<figcaption><h3>Bespoke iconography</h3></figcaption>
									</figure>
								</li>
							</ul>
						</section><!-- // grid-wrap -->
						<section class="slideshow">
							<ul>
								<li>
									<figure>
										<figcaption>
											<h3>Letting the products speak for themselves</h3>
										</figcaption>
										<img src="img/large/elise1.png" alt="img01"/>
									</figure>
								</li>
								<li>
									<figure>
										<figcaption>
											<h3>An Art Gallery of product proportions</h3>
										</figcaption>
										<img src="img/large/elise2.png" alt="img02"/>
									</figure>
								</li>
								<li>
									<figure>
										<figcaption>
											<h3>Subtle hover effects</h3>
										</figcaption>
										<img src="img/large/elise3.png" alt="img03"/>
									</figure>
								</li>
								<li>
									<figure>
										<figcaption>
											<h3>Pieces in prime position</h3>
										</figcaption>
										<img src="img/large/elise4.png" alt="img04"/>
									</figure>
								</li>
								<li>
									<figure>
										<figcaption>
											<h3>A human feel, for humans</h3>
										</figcaption>
										<img src="img/large/elise5.png" alt="img05"/>
									</figure>
									<figure>
										<figcaption>
											<h3>Bespoke iconography</h3>
										</figcaption>
										<img src="img/large/elise6.png" alt="img06"/>
									</figure>
								</li>
							</ul>
							<nav>
								<span class="icon nav-prev"></span>
								<span class="icon nav-next"></span>
								<span class="icon nav-close"></span>
							</nav>
							<div class="info-keys icon">Navigate with arrow keys</div>
						</section><!-- // slideshow -->
					</div><!-- // grid-gallery -->
					<h2 class="text">Getting the language right</h2>
					<p class="lede text">A visual language needs structure, and I wanted that structure to come from Elise themselves.</p>
					<p class="text">In the initial stages, I was most interested in what Elise's brand meant to Elise. Here's what they said:</p>

					<img src="img/large/elise_content/2.jpg" alt="" class="text">

					<p class="text">I also wanted to know why they felt they needed a website. What could it do for them? Would it even enhance the brand? If it wouldn't, why do it at all?</p>

					<img src="img/large/elise_content/3.jpg" alt="" class="text">

					<h2 class="text">Translating brand to visual</h2>
					<p class="lede text">Making the move to visual meant taking what Elise had said and turning them into actionable, groupable, <i>visual</i> terms.</p>
					<p class="text">Here's what we agreed on:</p>

					<img src="img/large/elise_content/4.jpg" alt="">

					<p class="text">Now, I could start getting to grips with interpreting this into a mockup. I wanted to hit each key need as sensitively as I could, so I took them word-by-word. We started with 'clean':</p>

					<img src="img/large/elise_content/5.jpg" alt="">

					<p class="text">Moved on to 'sophisticated':</p>

					<img src="img/large/elise_content/6.jpg" alt="">

					<p class="text">'Elegant':</p>

					<img src="img/large/elise_content/7.jpg" alt="">

					<p class="text">And 'classy':</p>

					<img src="img/large/elise_content/8.jpg" alt="">

					<p class="text">Once I had some mockups of what this brand interpretation might start to look like, I could get to turning them into a concrete style guide. So, we started out semi-technical:</p>

					<img src="img/large/elise_content/9.jpg" alt="">

					<p class="text">And wound up with full-blown development guidelines. I'm not a fan of designing work so as to make me indispensable: I'd prefer that Elise took these guidelines elsewhere, if that's what they wanted to do (they didn't):</p>

					<img src="img/large/elise_content/10.jpg" alt="">

				</div>
				
				<div>
					<div class="img" id="gigggs_img" style="background-image: url('/img/panos/gigggs.jpg');"></div>
					<h2 class="text">Gigggs</h2>
					<p class="text">I can't talk about this project yet, but get excited. And watch this space.</p>
					<div id="grid-gallery-5" class="grid-gallery">
						<section class="grid-wrap">
							<ul class="grid">
								<li class="grid-sizer"></li><!-- for Masonry column width -->
								<li>
									<figure>
										<img src="img/large/gigggs1.png" alt="img01"/>
										<figcaption><h3>Mobile screen I</h3></figcaption>
									</figure>
								</li>
							</ul>
						</section><!-- // grid-wrap -->
						<section class="slideshow">
							<ul>
								<li>
									<figure>
										<figcaption>
											<h3>Mobile screen I</h3>
										</figcaption>
										<img src="img/large/gigggs1.png" alt="img01"/>
									</figure>
								</li>
							</ul>
							<nav>
								<span class="icon nav-prev"></span>
								<span class="icon nav-next"></span>
								<span class="icon nav-close"></span>
							</nav>
							<div class="info-keys icon">Navigate with arrow keys</div>
						</section><!-- // slideshow -->
					</div><!-- // grid-gallery -->
				</div>

				<div>
					<div class="img" id="ovr_img" style="background-image: url('/img/panos/ovr.jpg');"></div>
					<h2 class="text">Ovr</h2>
					<p class="text lede">This project is in its infancy, so I can't share too much – but here are some teaser screens for what Ovr are describing as "the best way to read the news, ever".</p>
					<div id="grid-gallery-6" class="grid-gallery">
						<section class="grid-wrap">
							<ul class="grid">
								<li class="grid-sizer"></li><!-- for Masonry column width -->
								<li>
									<figure>
										<img src="img/large/ovr1.jpg" alt="img01"/>
										<figcaption><h3>All the news, at a glance</h3></figcaption>
									</figure>
								</li>
								<li>
									<figure>
										<img src="img/large/ovr2.jpg" alt="img02"/>
										<figcaption><h3>Dive deeper, understand fast</h3></figcaption>
									</figure>
								</li>
								<li>
									<figure>
										<img src="img/large/ovr3.jpg" alt="img03"/>
										<figcaption><h3>Get the full story as you've never seen it before</h3></figcaption>
									</figure>
								</li>
							</ul>
						</section><!-- // grid-wrap -->
						<section class="slideshow">
							<ul>
								<li>
									<figure>
										<figcaption>
											<h3>All the news, at a glance</h3>
										</figcaption>
										<img src="img/large/ovr1.jpg" alt="img01"/>
									</figure>
								</li>
								<li>
									<figure>
										<figcaption>
											<h3>Dive deeper, understand fast</h3>
										</figcaption>
										<img src="img/large/ovr2.jpg" alt="img02"/>
									</figure>
								</li>
								<li>
									<figure>
										<figcaption>
											<h3>Get the full story as you've never seen it before</h3>
										</figcaption>
										<img src="img/large/ovr3.jpg" alt="img03"/>
									</figure>
								</li>
							</ul>
							<nav>
								<span class="icon nav-prev"></span>
								<span class="icon nav-next"></span>
								<span class="icon nav-close"></span>
							</nav>
							<div class="info-keys icon">Navigate with arrow keys</div>
						</section><!-- // slideshow -->
					</div><!-- // grid-gallery -->
				</div>
				
				<span class="loading"></span>
				<span class="icon close-content"></span>
			</div>
		</section>
	</div><!-- /container -->
	<script src="js/classie.js"></script>
	<script src="js/helper.js"></script>
	<script src="js/grid3d.js"></script>
	<script src="js/cbpGridGallery.js"></script>
	<script src="js/imagesloaded.pkgd.min.js"></script>
	<script src="js/masonry.pkgd.min.js"></script>

	<script>
		new grid3D( document.getElementById( 'grid3d' ) );
	</script>

	
	<script>
		new CBPGridGallery( document.getElementById( 'grid-gallery' ) );
		new CBPGridGallery( document.getElementById( 'grid-gallery-2' ) );
		new CBPGridGallery( document.getElementById( 'grid-gallery-3' ) );
		new CBPGridGallery( document.getElementById( 'grid-gallery-4' ) );
		new CBPGridGallery( document.getElementById( 'grid-gallery-5' ) );
		new CBPGridGallery( document.getElementById( 'grid-gallery-6' ) );
	</script>

</body>
</html>
